.border-test{
	border-style: solid;	
	border-width: 3px;
	border-color: orange;
}

.border-green{
	border-style: solid;
	border-width: 3px;
	border-color: green;
	max-width: 450px;
}

.margin-left{
	margin-left: 15%;
}