.container-border{
	border-style: solid;	
	border-width: 3px;
	border-color: orange;

}

.border-within{
	border-style: solid;
	border-width: 3px;
	border-color: pink;
		max-width: 450px;
}

.margin-left{
	margin-left: 15%;
}